* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
}
.header-logo {
}
.header-nav {
}
.main {
}
.first-section {
}
.title-container {
}
.image-container {
}
.second-section {
}
.middle-title {
}
.middle-container {
}
.box {
}
.third-section {
}
.fourth-section {
}
.blue-card {
}
.text {
}
.footer {
}
